<p>notes works!</p>

<input type="text" [(ngModel)]="searchTerm" (input)="searchNotes()"/>
<button class="btn-primary add-note" *appIf="true" (click)="addNote()"> Add Note </button>

<div class="filters">
    <button class="filter-btn" appCustom (click)="filterList('all')">All</button>
    <button class="filter-btn" appCustom (click)="filterList('pinned')">Pinned</button>
</div>


@for (note of notesData(); track note.id){
    <div class="note">
        <h3>{{note.title}}</h3>
        <h4>{{note.content}}</h4>

        <button class="btn-secondary" (click)="updateNote(note)">Edit</button>
        <button class="btn-secondary" (click)="deleteNote(note.id)">Delete</button>
        <button class="btn-secondary" (click)="pinNote(note.id)">{{!note.isPinned ? 'Pin' : 'Unpin'}}</button>
    </div>
}